{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}

    {% if reload %}
        <div>
            <div>
               <img src="{{ image_path }}" alt="Loaded Image">
            </div>
            <div>
                {{result}}
            </div>
            <div>
                <a href="{% url 'index' %}" class="btn btn-primary btn-lg">Tentar novamente</a>
            </div>
        </div>
    {% else %}
        <h1>Load Your Image</h1>
        <p>We going to interprete for you.</p>
        <form method="POST" enctype="multipart/form-data" class="post-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-lg">Interprete</button>
        </form>
    {% endif %}

{% endblock header %}

